/* Error: expected ";".
 *    ,
 * 33 | // Change font sizes for h1-h6 using values in assignment
 *    |                                                          ^
 *    '
 *   scss/custom.scss 33:58  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 33 \2502  // Change font sizes for h1-h6 using values in assignment\a    \2502                                                           ^\a    \2575 \a   scss/custom.scss 33:58  root stylesheet';
}
