// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Katibeh&family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Katibeh&family=Libre+Baskerville&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



// Include any default variable overrides here (colors, font sizes, font family, etc..)

$primary:#A04ADD;
$secondary: #3B53C7;
$success: #A4D882;
$info: #59C1EF



// Adjust nav link hover color here



// Typography
// Change font family for base text


// Change font family for headings



// Change font sizes for h1-h6 using values in assignment



@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
